.vs
*.user
*.xml
[Bb]in/
[Oo]bj/
packages/
build/*
!build/build.cake
!build/build*.nuspec
!build/create_lang_nuspec_file.py
!build/build.ps1
!build/LICENSE
!build/icon.png
!build/tools/
build/tools/*
!build/tools/packages.config
!build/tools/VisualStudioToolsManifest.xml
