/.vs
/packages
/HandyControl/bin
/HandyControl/obj
/HandyControlDemo/bin
/HandyControlDemo/obj
/DockBoxResearch/bin
/DockBoxResearch/obj
/HandyControl.sln.DotSettings.user
Net35/HandyControlDemo_Net35/bin
Net35/HandyControlDemo_Net35/obj
Net35/HandyControl_Net35/bin
Net35/HandyControl_Net35/obj
Net40/HandyControlDemo_Net40/bin
Net40/HandyControlDemo_Net40/obj
Net40/HandyControl_Net40/bin
Net40/HandyControl_Net40/obj