/.vs
/packages
/HandyControl/bin/Debug
/HandyControl/obj/Debug
/HandyControl/bin/Release
/HandyControl/obj/Release
/HandyControlDemo/bin/Debug
/HandyControlDemo/obj/Debug
/HandyControlDemo/bin/Release
/HandyControlDemo/obj/Release
/HandyControl.sln.DotSettings.user