// Custom styles.

.container:before{
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background: url(https://raw.githubusercontent.com/HandyOrg/HandyOrgResource/master/HandyControl/Resources/cloud.png);
}
.posts-expand .post-body img {
  margin: 3px;
  display: inline;
  padding: 3px !important;
  border: 0;
}

.post-body h2 {
    font-size: 1.45em;
    border-bottom: 0px solid #eee;
}

a, span.exturl {
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: transparent;
    color: #555;
    text-decoration: none;
    outline: none;
    border-bottom: 0px solid #999;
    cursor: pointer;
}