// Custom styles.
.posts-expand .post-body img {
  margin: 3px;
  display: inline;
  padding: 3px !important;
  border: 0;
}

.post-body h2 {
    font-size: 1.45em;
    border-bottom: 0px solid #eee;
}

a, span.exturl {
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: transparent;
    color: #555;
    text-decoration: none;
    outline: none;
    border-bottom: 0px solid #999;
    cursor: pointer;
}